<div class="form-group fg-line">
 <%= form_tag :controller => 'search', :action => 'create', :method => 'get' do %>
      <%= text_field_tag :keyword, params[:keyword], :id => 'search_field', placeholder: "Search for other users", class: "form-control" %>
      <%= hidden_field_tag :group_id, @group.id %>
      <div class="actions">
      	<%= submit_tag "Search ", :content => nil, class: "btn btn-primary btn-sm m-t-1" %> 
      </div>
  <% end %> 
</div>